################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/cool_maple/.vs
/cool_maple/cool_maple/App.config
/cool_maple/cool_maple/bin/Debug/net8.0-windows/cool_maple.deps.json
/cool_maple/cool_maple/bin/Debug/net8.0-windows/cool_maple.dll
/cool_maple/cool_maple/bin/Debug/net8.0-windows/cool_maple.dll.config
/cool_maple/cool_maple/bin/Debug/net8.0-windows
/cool_maple/cool_maple/obj/Debug/net8.0-windows/ref/cool_maple.dll
/cool_maple/cool_maple/obj/Debug/net8.0-windows/apphost.exe
/cool_maple/cool_maple/obj/Debug/net8.0-windows/refint/cool_maple.dll
/cool_maple/cool_maple/obj/Debug/net8.0-windows/cool_maple.AssemblyInfo.cs
/cool_maple/cool_maple/obj/Debug/net8.0-windows/cool_maple.AssemblyInfoInputs.cache
/cool_maple/cool_maple/obj/
/cool_maple/cool_maple/bin/
/cool_maple/cool_maple/obj/Debug/net8.0-windows/cool_maple.dll
/cool_maple/cool_maple/obj/Debug/net8.0-windows/cool_maple.pdb
/cool_maple/cool_maple/obj/Debug/net8.0-windows/cool_maple.sourcelink.json
